* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between; /* Space between links and search bar */
    align-items: center; 
    background: linear-gradient(45deg, midnightblue, #9c0e9c);
    padding: 20px;
    height: 60px;
}

ul {
    list-style-type: none;
    display: flex; /* Align items in a row */
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 20px;
}

li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.search-bar {
    display: flex; 
    align-items: center; 
    
}

.search-bar input {
    padding: 5px;
    margin-right: 10px; /* Space between input and button */
}

.search-bar button {
    padding: 5px 10px;
    height: 40px;
    background-color: midnightblue; /* Match button color */
    color: whitesmoke; /* Button text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor on hover */
    font-size: 18px;
    border-radius: 10px;
}

.search-bar button:hover {
    background-color: midnightblue; /* Change color on hover */
}

.search-bar input {
    padding: 10px; /* Add padding for comfort */
    width: 250px;
    height: 30px; /* Set a specific height */
    font-size: 16px; /* Font size for better readability */
    border: 1px solid #9c0e9c; /* Border color matching the theme */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove default outline on focus */
    border-radius: 10px;
}

.search-bar input:focus {
    border-color: midnightblue; /* Change border color on focus */
}
